@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");

body {
    margin: 0;
    font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: #003458;
}

button {
    font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.container {
    position: relative;
    width: 320px;
    height: 640px;
    margin-left: calc((100% - 320px) / 2);
    margin-right: calc((100% - 320px) / 2);
    background-color: #003458;
    color: white;
}

.header {
    position: relative;
    width: 320px;
    height: 80px;
}

.header .logo {
    position: relative;
    width: 320px;
}

.header .logo img {
    position: relative;
    width: 120px;
    margin: 30px 0px 0px 10px;
}

.header .bar {
    position: absolute;
    top: 36px;
    left: 150px;
    width: 130px;
    height: 10px;
    background: white;
    border-radius: 20px;
    opacity: 0.5
}

.header .bar-progress {
    position: absolute;
    top: 36px;
    left: 150px;
    width: 10px;
    height: 10px;
    background: #ffe785; /*#FDBF01;*/
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.header img#kakao-link-btn {
    position: absolute;
    top: 31px;
    left: 290px;
    height: 20px;
    width: 20px;
}

.page {
    position: relative;
    width: 320px;
    height: 350px;
}

.first-page .title {
    position: relative;
    width: 320px;
}

.first-page .title img {
    position: absolute;
    width: 80px;
    top: 20px;
    left: 10px;
    z-index: 1;
}

.first-page .title p {
    position: relative;
    width: 300px;
    left: 20px;
    top: 38px;
    margin: 0px;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.25);
    z-index: 2;
}

.first-page .description {
    position: relative;
    width: 320px;
    height: 100px;
}

.first-page .description p {
    position: relative;
    margin: 0px;
    padding-top: 80px;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
}

.first-page .description .start {
    width: 280px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    background-color: #ffffff;
    color: #003458;
    opacity: 1;
    cursor: pointer;
    border: none;
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.loading {
    position: absolute;
    top: 250px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50px;
}

@keyframes loadingChange1 {
    from {opacity: 0;}
    to {opacity: 0.2;}
}

.loading-1 {
    left: 90px;
    opacity: 0.2;
    animation-name: loadingChange1;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
}

@keyframes loadingChange2 {
    from {opacity: 0;}
    to {opacity: 0.4;}
}

.loading-2 {
    left: 150px;
    opacity: 0.4;
    animation-name: loadingChange2;
    animation-duration: 0.3s;
    animation-delay: 0.5s;
}

@keyframes loadingChange3 {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

.loading-3 {
    left: 210px;
    opacity: 0.6;
    animation-name: loadingChange3;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
}

.loading-4 {
    position: absolute;
    top: 300px;
    width: 320px;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    opacity: 0.8;
}

.question-page .question {
    position: relative;
    width: 320px;
    height: 100px;
}

.question-page .question p {
    position: relative;
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
}

.question-page .answers {
    position: relative;
    margin-top: 30px;
    width: 320px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-page .answer {
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    background-color: #ffffff;
    color: #003458;
    opacity: 1;
    cursor: pointer;
    border: none;
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

/*
.answer:hover {
    background-color: #ffe785;
    font-weight: 600;
}
*/

.question-page .result {
    padding: 15px;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    background-color: #ffffff;
    color: #003458;
    opacity: 1;
    border: none;
    box-shadow: 0 7px 7px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.recommend-link {
    background: #003458;
    border-radius: 20px;
    color: #ffe785;
    font-weight: 450;
    text-decoration: none;
}

.highlight {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.footer {
    position: relative;
    width: 320px;
}

.footer img {
    position: relative;
    left: calc((320px - 283.41px) / 2);
    height: 200px;
    width: 284px;
}

.footer .register-1 {
    display: block;
    position: absolute;
    width: 98px;
    height: 30px;
    top: 127px;
    left: 60px;
}

.footer .register-2 {
    display: block;
    position: absolute;
    width: 98px;
    height: 30px;
    top: 127px;
    left: 164px;
}

.black-container {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.modal {
    position: absolute;
    left: calc((100% - 300px) / 2);
    width: 300px;
    height: 525px;
    top: 80px;
    background: #EAEAEA;
    border-radius: 10px;
    z-index: 4;
}

.modal-wrap {
    margin-left: 25px;
    margin-top: 25px;
    width: 250px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}

.info {
    width: 120px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #003458;
}

.info img {
    width: 120px;
}

.info p {
    margin-top: 5px;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.modal-desc {
    width: 300px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sns {
    width: 180px;
    margin-left: 60px;
}

.close {    
    position: relative;
    left: 5px;
    padding: 7px;
    font-size: 14px;
    font-weight: 500;
    background-color: #ffffff;
    color: #003458;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.sns-link {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 454px;
}

.sns-1 {
    left: 65px;
}

.sns-2 {
    left: 109px;
}

.sns-3 {
    left: 153px;
}

.sns-4 {
    left: 196px;
}